* {
	font-family: sans-serif;
}
.calculator {
	height: 350px;
	width: 250px;
	padding: 30px;
	background-color: #000002;
}

.title {
	color: #fff;
	font-size: 35px;
	margin: 0;
	text-align: center;
}

.content {
	height: 70%;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.button {
	width: 45%;
	height: 45%;
	background-color: #ff9502;
	border: none;
	border-radius: 20px;
	color: #fff;
	font-size: 50px;
	cursor: pointer;
}

.button:hover {
	background-color: #f8b351;
}
